<div class="grid mt-5 fadein animation-duration-1000 animation-iteration-1">
    <div class="col">
        <p-card header="Pedidos" styleClass="m-2 bg-primary hover:bg-orange-400">
            <p class="m-0">
                Gestión de todo lo referente a pedidos, incluyendo eliminar, dar de baja, ver estados, crear estados, etc.
            </p>
        </p-card>
        <p-card header="Stock Insumos" styleClass="m-2 bg-primary hover:bg-orange-400">
            <p class="m-0">
                Gestión de todo lo referente a insumos, permitiendo crear nuevos, ver stock, modificar stock, etc.
            </p>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Productos" styleClass="m-2 bg-primary hover:bg-orange-400">
            <p class="m-0">
                Crear, eliminar, gestionar los distintos productos del menú que puede comprar el cliente.
            </p>
        </p-card>
        <p-card header="Gestión Usuarios" styleClass="m-2 bg-primary hover:bg-orange-400">
            <p class="m-0">
                Crear usuarios, cambiar roles a usuarios, eliminar usuarios.
            </p>
        </p-card>
    </div>
</div>
