<div class="p-3">
    <p-button (onClick)="crearInsumo()" label="Crear Insumo" styleClass="p-button-raised" class="mr-2"></p-button>
    <p-button (onClick)="crearRubroInsumo()" label="Crear Rubro de Insumo" styleClass="p-button-raised"></p-button>
    <p-button (onClick)="generarExcel()" label="descargar excel" styleClass="p-button-raised"></p-button>
</div>
<p-divider></p-divider>
<p-table
    [value]="insumos"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} insumos"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Denominacion</th>
            <th>Marca</th>
            <th>Stock</th>
            <th>Stock Máximo</th>
            <th>Stock Mínimo</th>
            <th>Rubro</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-insumo>
        <tr>
            <td>{{ insumo.nombre }}</td>
            <td>{{ insumo.denominacion }}</td>
            <td>{{ insumo.marca }}</td>
            <td>{{ insumo.stock }}</td>
            <td>{{ insumo.stockMaximo }}</td>
            <td>{{ insumo.stockMinimo }}</td>
            <td>{{ insumo.rubro.nombre }}</td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <p-button (onClick)="editarInsumo(insumo)" pRipple type="button" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-editar-insumo-modal #editarInsumoModal (insumoEditado)="cargarInsumos()"></app-editar-insumo-modal>
<app-crear-insumo-modal #crearInsumoModal (insumoCreado)="cargarInsumos()"></app-crear-insumo-modal>
<app-crear-rubro-insumo-modal #crearRubroInsumoModal></app-crear-rubro-insumo-modal>