<p-dialog header="Header" [(visible)]="modalVisible" [draggable]="false" [modal]="true" [style]="{ width: '50vw' }"
    [closable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Crear insumo</span>
    </ng-template>
    <form [formGroup]="rolForm">
        <div class="grid p-fluid pb-5">
            <div class="col">
                <div class="field">
                    <label for="username">Nombre de Rol</label>
                    <input pInputText id="username" type="text" formControlName="nombre" />
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (onClick)="cerrarModal()" icon="pi pi-check" label="cancelar" styleClass="p-button-danger p-button-text"></p-button>
        <p-button  (onClick)="submitform()" label="Crear" type="submit" [disabled]="formularioInvalido"></p-button>
    </ng-template>
</p-dialog>